<div class="row flex-row flex-wrap justify-content-center align-content-center">
  <app-artist-form (artistChanged)="artistToSave = $event" (errorEvent)="onArtistFormComponentError($event)">

    <button type="button" [ngClass]="{'disbaled': isSaving}" [disabled]="isSaving" class="btn btn-outline-success mb-2" (click)="persist()">
      Save
      <i class="fas fa-circle-notch fa-spin" *ngIf="isSaving"></i>
    </button>
  </app-artist-form>
</div>

<div class="row justify-content-center">
  <div class="alert" role="alert" [ngClass]="msgClassName">
    <strong>{{msg}}</strong>
  </div>
</div>
